.outerWrapper  {
  /*   position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0px;*/
  z-index: 5000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 28px 28px;
}


.checkoutFixed {
  position: sticky;
  bottom:0;
  border-top: 1px solid rgb(224, 224, 224);
}

.section {
  display: flex;
  padding: 12px 0;
}

.lefty {
  margin-left: auto;
}

.checkoutButton {
  background-color: var(--bg-secondary);
  border: solid 1px var(--bg-secondary);

  color: white;
  width: 100%;
  padding: 0px 20px;
  height: 48px;
  font-weight: 500;
  font-size: 15px;
  transition: all 300ms ease 0s;
}

.cartList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}