.ul_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 46px;
  list-style-type: none;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 450px) {
  .ul_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .ul_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
