@import "../fonts/typgraphy.css";


*,
::before,
::after {
  background-repeat: no-repeat; /* 1 */
  box-sizing: border-box; /* 2 */
}

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
/**
* 1. Use the default cursor in all browsers (opinionated).
* 2. Use the default user interface font in all browsers (opinionated).
* 3. Correct the line height in all browsers.
* 4. Use a 4-space tab width in all browsers (opinionated).
* 5. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
* 6. Breaks words to prevent overflow in all browsers (opinionated).
*/
html {
  cursor: default; /* 1 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
  /*   font-size: 62.5%;
 */
}

body {
  margin: 0;
  /* Avoid horizontal scroll */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-primary);
  font-family: "Proxima Nova", sans-serif;
}

/*  COLORS  */
:root {
  --bg-primary: #fbfaf7;
  --bg-secondary: #e4ded1;
  --bg-dark: #E5E0D3;
  --color-text: #655a46;
  --color-accent: #6d735d;
  --color-muted: rgb(120, 120, 120);

  --color-primary-dark: #655a46;
  --color-primary-light: #ba885e;
  --color-primary-green: #6d735d;
  --color-primary-blue: -#788e9c;
  --font-heading: "Din1451";
  --font-primary: "Din1451";
  --font-text: "Proxima Nova";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Din1451", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: var(--color-text);
  text-align: center;
  letter-spacing: 3px;
}

h3, h4 {
  letter-spacing: 2px;
}

h1, a {
  color: var(--color-text);
}


p,
li {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: calc(1.5em + .2vw);

}

ul {
  margin-block-start: 0;
  padding-inline-start: 10px;
}

p {
  /* line-height: 1.5rem; */
  word-break: break-word;
  color: var(--color-text);
}

hr {
  border: var(--color-muted) 1px solid;
}

button,
fieldset {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
}
