/*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */
@import './fonts/typgraphy.css';
/* Document
* ========================================================================== */
/**
* 1. Remove repeating backgrounds in all browsers (opinionated).
* 2. Add border box sizing in all browsers (opinionated).
*/
*,
::before,
::after {
  background-repeat: no-repeat; /* 1 */
  box-sizing: border-box; /* 2 */
}
/**
* 1. Add text decoration inheritance in all browsers (opinionated).
* 2. Add vertical alignment inheritance in all browsers (opinionated).
*/
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
/**
* 1. Use the default cursor in all browsers (opinionated).
* 2. Use the default user interface font in all browsers (opinionated).
* 3. Correct the line height in all browsers.
* 4. Use a 4-space tab width in all browsers (opinionated).
* 5. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
* 6. Breaks words to prevent overflow in all browsers (opinionated).
*/
html {
  cursor: default; /* 1 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
  /*   font-size: 62.5%;
 */
}
/* Sections
* ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
  /* Avoid horizontal scroll */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: #fbfaf7;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Din1451';
  color: #655A46;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  font-size: 14px;
  max-width: 650px;
  line-height: 1.6rem;
  margin: 0 0 24px;
  text-align: justify;
}

p, li, hr {
  color: #655A46;

}


a {
  color: black
}



/* --e-global-color-primary: #E4DED1;
    --e-global-color-secondary: #FBFAF7;
    --e-global-color-text: #655A46;
    --e-global-color-accent: #6D735D; */
/**
* Correct the font size and margin on h1 elements within section and
* article contexts in Chrome, Firefox, and Safari.
*/
