.wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.link_box {
  margin-right: 2rem;
  margin-bottom: 0;
  display: none;
}

.link {
  display: flex;
  border: none;
  text-transform: none;
  padding: 0.5rem 0px;
  font-size: 14px;
  font-family: var(--font-primary), sans-serif;
  color: #655a46;
  line-height: 1;
  text-decoration: underline solid transparent;
  transition: all 0.6s ease;
}

.link:hover {
  color: black;
}

.icon {
  cursor: pointer;
  display: block;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.icon:hover {
  color: grey;
  transition: color 0.2s ease-in-out;
}

.icon_active {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 25px;
  margin-left: 25px;
  z-index: 3;
}

/* *** MOBILE NAV *** */
.toggleMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fbfaf7;
}

.toggleMenu_link {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #655a46;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

@media (orientation: landscape) {
  .toggleMenu_link {
    font-size: 1.3rem;
  }
}

.toggleMenu_link:hover {
  cursor: pointer;
  color: black;
}

.toggleMenu__transform {
  transform: translateX(-100%);
}

.slide {
  transition: transform 0.7s;
}

.toggleMenu__show {
  transform: translateX(0%);
}

.hidde {
  animation: slide-out 0.9s backwards;
  -webkit-animation: slide-out 0.9s backwards;
}

/*  TABLET */
@media (min-width: 769px) {
  .link {
    display: inline;
  }

  .icon {
    display: none;
  }
  .toggleMenu {
    display: none;
  }

  .link_box {
    display: block;
  }
}
