/* @import '../styles/custom-properties.css'; */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  overflow: hidden;
}

.article {
  display: flex row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 auto;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.header {
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 1.2rem;
}

.header ul {
  list-style: none;
}

.article img {
  width: 100%;
}

.mainImageContainer {
  padding-bottom: 1rem;

  margin: 0 auto;
  width: 30%;
}

.title {
  text-align: center;
}
