/* @import '../styles/custom-properties.css'; */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  overflow: hidden;
}

.article {
  max-width: 600px;
  margin: 0 auto;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

.article p {
  margin-top: 1.5rem;
  color: grey;
  line-height: 1.5;
  font-size: 20px;
  margin: 0.5rem 0;

}

.header {
  margin-bottom: 2rem;
}

.mainImageContainer {
  padding-bottom: 1rem;

  margin: 0 auto;
  width: 30%;
}

.title {
  text-align: center;
}
