/* @import '../styles/custom-properties.css'; */

/* --- PREVIEW ---  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 1rem auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.gridItem a {
  text-decoration: none;
}

.gridItem p {
  margin: 0 0 24px;
}

.title {
  text-align: center;
}
