.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 60px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 99;
  background-color: #FBFAF8;

}

.col {
  display: flex;
  flex: 1;
  justify-content: center;
}

.col:first-child {
  justify-content: flex-start;
}

.col:last-child {
  justify-content: flex-end;
}

/* .basket button {
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}
 */