.sidebar {
  margin-top: 1rem;
  position: fixed;
  width: 12%;
  float: left;
  padding-left: 1rem;
  font-size: 14px;
  z-index: -1;

}

.active {
    color: greenyellow
}

.list {
  list-style: none;
  
}

.listitem {
  margin-bottom: 15px;

}

.listitem a {
  color: #000;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}

.listitem a:hover{
    transition: 0.3s;
    color: #655A46;
  }
